<!DOCTYPE html>
<html lang="pl" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meal_list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body background="/static/css/image/background.jpeg" bgproperties="fixed">

<div th:replace="fragments/top_bar.html :: div.top-bar"></div>

<form style="text-align: right; color:white" class="justify-content-end" method="post" action="#" th:action="@{/search}"
      th:object="${request}">

    <div class="slidecontainer justify-content-end">
        <label class="form-check-label" for="kcalMin">
            kcal min:
        </label>
        <a id="demoKcalMin"></a>
        <input type="range" min="1" max="1500" value="1" class="slider" id="kcalMin" th:field="*{kcalMin}">
        <script>
            var sliderKcalMin = document.getElementById("kcalMin");
            var outputKcalMin = document.getElementById("demoKcalMin");
            outputKcalMin.innerHTML = sliderKcalMin.value;

            sliderKcalMin.oninput = function() {
                outputKcalMin.innerHTML = this.value;
            }</script>
        <label class="form-check-label" for="kcalMax">
            kcal max:
        </label>
        <a id="demoKcalMax"></a>
        <input type="range" min="1" max="1500" value="1500" class="slider" id="kcalMax" th:field="*{kcalMax}">
        <script>
            var sliderKcalMax = document.getElementById("kcalMax");
            var outputKcalMax = document.getElementById("demoKcalMax");
            outputKcalMax.innerHTML = sliderKcalMax.value;

            sliderKcalMax.oninput = function() {
                outputKcalMax.innerHTML = this.value;
            }</script>


    </div><br>

    <div class="slidecontainer">
        <label class="form-check-label" for="proteinMin">
            protein min:
        </label>
        <a id="demoProteinMin"></a>
        <input type="range" min="1" max="150" value="1" class="slider" id="proteinMin" th:field="*{proteinMin}">
        <script>
            var sliderProteinMin = document.getElementById("proteinMin");
            var outputProteinMin = document.getElementById("demoProteinMin");
            outputProteinMin.innerHTML = sliderProteinMin.value;

            sliderProteinMin.oninput = function() {
                outputProteinMin.innerHTML = this.value;
            }</script>
        <label class="form-check-label" for="proteinMax">
            protein max:
        </label>
        <a id="demoProteinMax"></a>
        <input type="range" min="1" max="150" value="150" class="slider" id="proteinMax" th:field="*{proteinMax}">
        <script>
            var sliderProteinMax = document.getElementById("proteinMax");
            var outputProteinMax = document.getElementById("demoProteinMax");
            outputProteinMax.innerHTML = sliderProteinMax.value;

            sliderProteinMax.oninput = function() {
                outputProteinMax.innerHTML = this.value;
            }</script>
    </div>
    <br>
    <div class="slidecontainer">
        <label class="form-check-label" for="carbsMin">
            carbs min:
        </label>
        <a id="demoCarbsMin"></a>
        <input type="range" min="1" max="150" value="1" class="slider" id="carbsMin" th:field="*{carbsMin}">
        <script>
            var sliderCarbsMin = document.getElementById("carbsMin");
            var outputCarbsMin = document.getElementById("demoCarbsMin");
            outputCarbsMin.innerHTML = sliderCarbsMin.value;

            sliderCarbsMin.oninput = function() {
                outputCarbsMin.innerHTML = this.value;
            }</script>
        <label class="form-check-label" for="carbsMax">
            carbs max:
        </label>
        <a id="demoCarbsMax"></a>
        <input type="range" min="1" max="150" value="150" class="slider" id="carbsMax" th:field="*{carbsMax}">
        <script>
            var sliderCarbsMax = document.getElementById("carbsMax");
            var outputCarbsMax = document.getElementById("demoCarbsMax");
            outputCarbsMax.innerHTML = sliderCarbsMax.value;

            sliderCarbsMax.oninput = function() {
                outputCarbsMax.innerHTML = this.value;
            }</script>

    </div>
    <br>
    <div class="slidecontainer">
        <label class="form-check-label" for="fatMin">
            fat min:
        </label>
        <a id="demoFatMin"></a>
        <input type="range" min="1" max="150" value="1" class="slider" id="fatMin" th:field="*{fatMin}">
        <script>
            var sliderFatMin = document.getElementById("fatMin");
            var outputFatMin = document.getElementById("demoFatMin");
            outputFatMin.innerHTML = sliderFatMin.value;

            sliderFatMin.oninput = function() {
                outputFatMin.innerHTML = this.value;
            }</script>
        <label class="form-check-label" for="fatMax">
            fat max:
        </label>
        <a id="demoFatMax"></a>
        <input type="range" min="1" max="150" th:value="150" class="slider" id="fatMax" th:field="*{fatMax}">
        <script>
            var sliderFatMax = document.getElementById("fatMax");
            var outputFatMax = document.getElementById("demoFatMax");
            outputFatMax.innerHTML = sliderFatMax.value;

            sliderFatMax.oninput = function() {
                outputFatMax.innerHTML = this.value;
            }</script>

    </div>



    <!--<div class="form-check">-->
    <!--    <input class="form-check-input" th:field="*{gluten}" type="checkbox" value="" id="noGluten">-->
    <!--    <label class="form-check-label" for="noGluten">-->
    <!--        Dieta bezglutenowa-->
    <!--    </label><br>-->
    <!--    <input class="form-check-input" th:field="*{lactose}"type="checkbox" value="" id="noLactose">-->
    <!--    <label class="form-check-label" for="noLactose">-->
    <!--        Dieta bezlaktozowa-->
    <!--    </label><br>-->
    <!--    <input class="form-check-input" th:field="*{sense}"type="checkbox" value="" id="noSense">-->
    <!--    <label class="form-check-label" for="noSense">-->
    <!--        Dieta bezsensowna-->
    <!--    </label>-->
    <!--</div><br>-->
   <br>

    <input type="submit" class="btn btn-success" value="Find your perfect meal">

</form>

<table th:if="${mealList}!=null" style="color:white" class="table table-bordered table-dark  justify-content-end">
    <thead>
    <tr>
        <th scope="col">meal name</th>
        <th scope="col">kcal</th>
        <th scope="col">protein</th>
        <th scope="col">fat</th>
        <th scope="col">carbs</th>
    </tr>
    </thead>
    <tbody>
    <tr class="result" data-th-each="meal : ${mealList}">
        <th th:text="${meal.name}"></th>
        <td th:text="${meal.kcal}"></td>
        <td th:text="${meal.protein}"></td>
        <td th:text="${meal.fat}"></td>
        <td th:text="${meal.carbs}"></td>
        <td class="action-td">
            <form method="post" class="padding5px" action="#" th:action="@{/addMeal}">
                <input type="hidden" th:name="meal_id" th:value="${meal.id}">
                <input type="submit" class="btn btn-outline-success" value="Add to your day">
            </form>

        </td>
    </tr>
    </tbody>
</table>

</body>
</html>