<!DOCTYPE html>
<html lang="pl" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meal_list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body background="/static/css/image/background.jpeg" bgproperties="fixed">

<div th:replace="fragments/top_bar.html :: div.top-bar"></div>

<form style="text-align: right; color:white" class="justify-content-end" method="post" action="#" th:action="@{/search}"
      th:object="${request}">

    <div class="slidecontainer justify-content-end">
        <label class="form-check-label" for="kcalMin">
            kcal min:
        </label>
        <input type="range" min="1" max="2000" value="1" class="slider" id="kcalMin" th:field="*{kcalMin}">
        <label class="form-check-label" for="kcalMax">
            kcal max:
        </label>
        <input type="range" min="1" max="2000" value="2000" class="slider" id="kcalMax" th:field="*{kcalMax}">

    </div><br>

    <div class="slidecontainer">
        <label class="form-check-label" for="proteinMin">
            protein min:
        </label>
        <input type="range" min="1" max="500" value="1" class="slider" id="proteinMin" th:field="*{proteinMin}">
        <label class="form-check-label" for="proteinMax">
            protein max:
        </label>
        <input type="range" min="1" max="500" value="500" class="slider" id="proteinMax" th:field="*{proteinMax}">
    </div>
    <br>
    <div class="slidecontainer">
        <label class="form-check-label" for="carbsMin">
            carbs min:
        </label>
        <input type="range" min="1" max="500" value="1" class="slider" id="carbsMin" th:field="*{carbsMin}">
        <label class="form-check-label" for="carbsMax">
            carbs max:
        </label>
        <input type="range" min="1" max="500" value="499" class="slider" id="carbsMax" th:field="*{carbsMax}">

    </div>
    <br>
    <div class="slidecontainer">
        <label class="form-check-label" for="fatMin">
            fat min:
        </label>
        <input type="range" min="1" max="500" value="1" class="slider" id="fatMin" th:field="*{fatMin}">
        <label class="form-check-label" for="fatMax">
            fat max:
        </label>
        <input type="range" min="1" max="500" th:value="500" class="slider" id="fatMax" th:field="*{fatMax}">

    </div>

    <!--<div class="form-check">-->
    <!--    <input class="form-check-input" th:field="*{gluten}" type="checkbox" value="" id="noGluten">-->
    <!--    <label class="form-check-label" for="noGluten">-->
    <!--        Dieta bezglutenowa-->
    <!--    </label><br>-->
    <!--    <input class="form-check-input" th:field="*{lactose}"type="checkbox" value="" id="noLactose">-->
    <!--    <label class="form-check-label" for="noLactose">-->
    <!--        Dieta bezlaktozowa-->
    <!--    </label><br>-->
    <!--    <input class="form-check-input" th:field="*{sense}"type="checkbox" value="" id="noSense">-->
    <!--    <label class="form-check-label" for="noSense">-->
    <!--        Dieta bezsensowna-->
    <!--    </label>-->
    <!--</div><br>-->
   <br>

    <input type="submit" class="btn btn-success" value="Find your perfect meal">

</form>

<table th:if="${mealList}!=null" style="color:white" class="table table-bordered table-dark  justify-content-end">
    <thead>
    <tr>
        <th scope="col">meal name</th>
        <th scope="col">kcal</th>
        <th scope="col">protein</th>
        <th scope="col">fat</th>
        <th scope="col">carbs</th>
    </tr>
    </thead>
    <tbody>
    <tr class="result" data-th-each="meal : ${mealList}">
        <th th:text="${meal.name}"></th>
        <td th:text="${meal.kcal}"></td>
        <td th:text="${meal.protein}"></td>
        <td th:text="${meal.fat}"></td>
        <td th:text="${meal.carbs}"></td>
        <td class="action-td">
            <form method="post" class="padding5px" action="#" th:action="@{/addMeal}">
                <input type="hidden" th:name="meal_id" th:value="${meal.id}">
                <input type="submit" class="btn btn-outline-success" value="Add to your day">
            </form>

        </td>
    </tr>
    </tbody>
</table>

</body>
</html>